.app {
     /* Add app styles here */
}

.status-indicator {
  cursor: pointer;
}

.status-indicator.INCOMPLETE .x-panel-body {
  background-color: #ffffff;
}

.status-indicator.ABORTED .x-panel-body {
  background-color: grey;
}

.status-indicator.UNSTABLE .x-panel-body {
  background-color: yellow;
}

.status-indicator.FAILURE .x-panel-body {
  background-color: red;
}

.status-indicator.SUCCESS .x-panel-body {
  background-color: #008000;
}
